/dotfiles/ssh/known_keys
/dotfiles/ssh/authorized_keys

/dotfiles/ssh/known_hosts
/dotfiles/ssh/known_hosts.old

/dotfiles/aws/cli
/dotfiles/aws/sso

/dotconfig/op/*
!/dotconfig/op/plugins.sh

/dotconfig/tmux/plugins/*
dotfiles/aws/credentials
tags*
dotconfig/zed/prompts/prompts-library-db.0.mdb
