/dotfiles/ssh/known_keys
/dotfiles/ssh/authorized_keys

/dotfiles/ssh/known_hosts
/dotfiles/ssh/known_hosts.old

/dotconfig/op/*
!/dotconfig/op/plugins.sh

/dotconfig/tmux/plugins/*
dotfiles/aws/credentials
