# vim: set filetype=gitconfig:

[delta]
  navigate = true
  line-numbers = true
  true-color = always
  hunk-header-style = omit
	file-decoration-style = none
	line-numbers-left-style = "black"
	line-numbers-right-style = "black"
	line-numbers-left-format = "{nm:^4}┊"

  ; tokyonight-moon
  minus-style                   = syntax "#3a273a"
  minus-non-emph-style          = syntax "#3a273a"
  minus-emph-style              = syntax "#6b2e43"
  minus-empty-line-marker-style = syntax "#3a273a"
  line-numbers-minus-style      = "#e26a75"
  plus-style                    = syntax "#273849"
  plus-non-emph-style           = syntax "#273849"
  plus-emph-style               = syntax "#305f6f"
  plus-empty-line-marker-style  = syntax "#273849"
  line-numbers-plus-style       = "#b8db87"
  line-numbers-zero-style       = "#3b4261"

  ; frappe
	; syntax-theme = Catppuccin Frappe
	; 	blame-palette = "#303446 #292c3c #232634 #414559 #51576d"
	; commit-decoration-style = box ul
	; dark = true
	; file-style = "#c6d0f5"
	; line-numbers-minus-style = bold "#e78284"
	; line-numbers-plus-style = bold "#a6d189"
	; line-numbers-zero-style = "#737994"
	; minus-emph-style = bold syntax "#5e4855"
	; minus-style = syntax "#433c4c"
	; plus-emph-style = bold syntax "#4e5b56"
	; plus-style = syntax "#3c444d"
	; map-styles = \
	; 	bold purple => syntax "#574f6e", \
	; 	bold blue => syntax "#475270", \
	; 	bold cyan => syntax "#4a5b6b", \
	; 	bold yellow => syntax "#5d5958"

  ; latte
	; syntax-theme = Catppuccin Latte
	;  blame-palette = "#eff1f5 #e6e9ef #dce0e8 #ccd0da #bcc0cc"
	; commit-decoration-style = box ul
	; light = true
	; file-style = "#4c4f69"
	; line-numbers-minus-style = bold "#d20f39"
	; line-numbers-plus-style = bold "#40a02b"
	; line-numbers-zero-style = "#9ca0b0"
	; minus-emph-style = bold syntax "#e8b9c6"
	; minus-style = syntax "#ecdae2"
	; plus-emph-style = bold syntax "#c3ddc3"
	; plus-style = syntax "#dee8e0"
	; map-styles = \
	; 	bold purple => syntax "#d5c3f4", \
	; 	bold blue => syntax "#bbcff5", \
	; 	bold cyan => syntax "#b4def1", \
	; 	bold yellow => syntax "#ebd9bf"
