# vim: set filetype=gitconfig:

[delta]
  navigate = true
  line-numbers = true
  true-color = always
  hunk-header-style = omit
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box
  line-numbers-left-style = "black"
  line-numbers-right-style = "black"
  line-numbers-left-format = "{nm:^4}┊"
  line-numbers-minus-style = bold "#d20f39"
	line-numbers-plus-style = bold "#40a02b"
  line-numbers-zero-style = "#9ca0b0"
	minus-emph-style = bold syntax "#5e4855"
	minus-style = syntax "#433c4c"
	plus-emph-style = bold syntax "#4e5b56"
	plus-style = syntax "#3c444d"
  ; line-numbers-right-format = "{np:^4}│"
